- title "Clientes"
- listado

= table_for @clientes do |table|
  = table.data do
    = table.cell :nombre
    = table.cell(:email)
    = actions_cell(table) { |cliente| acciones_para_cliente(cliente) }

= actions_list [:new], Cliente
