- title "Clientes"
- listado

= table_for @clientes do |table|
  = table.data do
    = table.cell :nombre
    = table.cell(:email)
    = table.cell :acciones, heading: "Acciones", cell_html: {class: "actions"} do |cliente|
      - acciones_para_cliente(cliente)

= actions_list [:new], Cliente
