- title "Traducciones"

= form_tag translations_path do
  - @translations.keys("#{I18n.locale}.public.*").each do |key|
    - clave = key.sub("#{I18n.locale}.public.", "")
    - campo = "translations[#{clave}]"
    %p
      = label_tag campo, clave.humanize
      = text_field_tag campo, @translations[key]
  %p= submit_tag "Submit"
