- title "Traducciones"

= form_tag translations_path do
  - scope = "#{I18n.locale}.public."
  - @translations.keys("#{scope}*").each do |key|
    - clave = key.sub scope, ""
    - campo = "translations[#{clave}]"
    %p
      = label_tag campo, clave.humanize
      = text_field_tag campo, @translations[key]
  %p= submit_tag "Submit"
