- live_preview_form
- autosave_form
- bsmselect_con_cajas

#actualizado
  - unless pagina.new_record?
    Página guardada el #{time_tag pagina.updated_at}

= simple_form_for pagina do |form|

  = render 'shared/errors', :record => pagina

  = form.input :titulo, :label => 'Titulo'
  = form.input :cuerpo, :label => 'Cuerpo'

  = hidden_field_tag "pagina[caja_ids][]"
  = form.association :cajas, :collection => Caja.al_final_las_de_pagina(pagina),
    :input_html => {:class => 'cajas'}

  .actions
    - if pagina.borrador?
      = form.submit 'Publicar', :name => 'publish'
    - else
      = form.button :submit
    
    = form.submit 'Guardar borrador', :name => 'draft'
    = form.submit 'Vista previa', :name => 'preview'    