#actualizado
  - unless pagina.new_record?
    Página guardada el #{time_tag pagina.updated_at}

= simple_form_for pagina do |form|

  = render 'shared/errors', record: pagina

  = hidden_field_tag 'pagina[borrador_id]'
  = form.input :titulo
  = form.input :cuerpo

  = hidden_field_tag "pagina[caja_ids][]"
  = form.association :cajas, collection: Caja.al_final_las_de_pagina(pagina),
    input_html: {class: 'cajas'}

  = buttons do
    - if pagina.borrador?
      = form.submit 'Publicar', name: 'publish'
    - else
      = form.button :submit
    
    = form.submit 'Guardar borrador', name: 'draft', id: 'draft_submit'
    = form.submit 'Vista previa', name: 'preview', id: 'preview_submit'

%section#fotos
  %header
    %h2 Puedes insertar imágenes de la galería
  = render 'fotos/form', foto: Foto.new
  %section#galeria= render Foto.all
