- render 'shared/js_form'

= simple_form_for @pagina do |form|

  = render 'shared/errors', :record => @pagina

  = form.input :titulo, :label => 'Titulo'
  = form.input :cuerpo, :label => 'Cuerpo'

  .actions
    = form.button :submit