= table_for @paginas do |table|
  = table.data do
    = table.cell :titulo, :heading => sort_link(@search, :titulo)
    = table.cell(:cuerpo, :heading => sort_link(@search, :cuerpo)) do |pagina|
      - truncate(pagina.cuerpo, :length => 50)
    = table.cell :borrador, :heading => sort_link(@search, :borrador)
    = table.cell(:acciones, :heading => 'Acciones') {|pagina| acciones_para_pagina(pagina)}

#paginador= will_paginate