= table_for records do |table|
  = table.data do
    = table.cell :titulo, heading: sort_link(filtracion, :titulo)
    = table.cell :principio_cuerpo, heading: sort_link(filtracion, :cuerpo)
    = table.cell :tipo, heading: sort_link(filtracion, :borrador)
    = actions_cell table, :actions_list
