- title "Historial de #{@pagina}"
- listado

%section#listado
  = table_for @versiones.reject {|version| !version.previous} do |table|
    = table.data do
      = table.cell :created_at, :heading => 'Modificado el' do |version|
        - version.previous.created_at
      = table.cell :whodunnit, :heading => 'Modificado por' do |version|
        - version.previous.whodunnit
      = table.cell(:acciones, :heading => 'Acciones', :cell_html => {:class => 'actions'}) do |version|
        - actions_list [:show, :compare], version
