- title "Listado de paginas"
- listado

= simple_form_for @search, :class => 'search' do |form|
  = form.input :titulo_contains, :label => 'Titulo',
    :required => false
  = form.input :cuerpo_contains, :label => 'Cuerpo',
    :required => false
  = form.submit 'Buscar'

= table_for @paginas do |table|
  = table.data :actions => :all do
    = table.cell :titulo, :heading => sort_link(@search, :titulo)
    = table.cell :cuerpo, :heading => sort_link(@search, :cuerpo)

= link_to 'New pagina', new_pagina_path