- title "Listado de paginas"
- listado
- autocomplete
- javascript 'filtrador'

= filter_form_for @search do |form|
  = form.input :titulo_contains, :label => 'Título', :required => false # No funciona traducir etiqueta de estos atributos
  = form.input :cuerpo_contains, :label => 'Cuerpo', :required => false

%section#listado
  = render :partial => 'listado'

= actions_list [:new], Pagina
