- title "Listado de paginas"
- listado

= filter_form_for @search do |form|
  = form.input :titulo_contains, :label => 'Titulo', :required => false
  = form.input :cuerpo_contains, :label => 'Cuerpo', :required => false


%section#listado
  = render :partial => 'listado'

= link_to 'New pagina', new_pagina_path
