- title "Listado de paginas"
- listado

= render 'shared/filtrador', :search => @search, :campos => [:titulo, :cuerpo]

%section#listado
  = table_for @paginas do |table|
    = table.data :actions => :all do
      = table.cell :titulo, :heading => sort_link(@search, :titulo)
      = table.cell(:cuerpo, :heading => sort_link(@search, :cuerpo)) {|pagina| truncate(pagina.cuerpo, :length => 50)}

  = will_paginate

= link_to 'New pagina', new_pagina_path
