- title "Listado de paginas"
- listado

= filter_form_for @search do |form|
  = form.input :titulo_contains, :label => 'Titulo',
    :required => false
  = form.input :cuerpo_contains, :label => 'Cuerpo',
    :required => false

%section#listado
  = table_for @paginas do |table|
    = table.data :actions => :all do
      = table.cell :titulo, :heading => sort_link(@search, :titulo)
      = table.cell(:cuerpo, :heading => sort_link(@search, :cuerpo)) {|pagina| truncate(pagina.cuerpo, :length => 50)}

  = will_paginate

= link_to 'New pagina', new_pagina_path
