%section#filtrador
  = simple_form_for search do |form|
    - campos.each do |campo|
      = form.input :"#{campo}_contains", :label => search.base.human_attribute_name(campo),
        :required => false
    = form.submit 'Filtrar'

  = simple_form_for search, :html => {:id => 'reset_search', :class => 'reset'} do |form|
    = hidden_field_tag :reset, true
    = form.submit 'Ver todos', :id => 'reset_button'