= table_for records do |table|
  = table.data do
    = table.cell :titulo
    = table.cell(:archivo) { |boletin| boletin.filename }
    = table.cell :updated_at, heading: "Creado" do |boletin|
      - l boletin.created_at, format: :short
    = actions_cell table, :actions_list
