- title 'Ayuda para la sintaxis del editor'

%h2 Texto

%dl
  %dt _Énfasis_
  %dd
    %em Énfasis
  %dt *Énfasis fuerte*
  %dd
    %strong Énfasis fuerte
  %dt ??cita breve??
  %dd
    %cite cita breve
  %dt -Texto tachado-
  %dd
    %del Texto tachado

%h2 Párrafos
%dl
  %dt bq. Cita larga: un párrafo o frase larga dicha por alguien.
  %dd
    %blockquote Cita larga: un párrafo o frase larga dicha por alguien.
  %dt
    \# Lista numerada 1
    %br
    \# Lista numerada 2
  %dd
    %ol
      %li Lista numerada 1
      %li Lista numerada 2
  %dt
    * Lista de viñetas 1
    %br
    * Lista de viñetas 2
  %dd
    %ul
      %li Lista de viñetas 1
      %li Lista de viñetas 2

%h2 Enlaces
%dl
  %dt "Texto del enlace":http://urldelenlace
  %dd= link_to "Texto del enlace", 'http://urldelenlace'

%h2 Imágenes
%dl
  %dt !http://rubyonrails.org/images/rails.png!
  %dd= image_tag 'http://rubyonrails.org/images/rails.png'
  %dt !http://rubyonrails.org/images/rails.png(Rails)!
  %dd= image_tag 'http://rubyonrails.org/images/rails.png', alt: 'Rails'
  %dt !http://rubyonrails.org/images/rails.png!:http://rubyonrails.org/
  %dd= link_to image_tag('http://rubyonrails.org/images/rails.png'), 'http://rubyonrails.org/'

%h2 Acrónimos
%dl
  %dt ONU(Organización Naciones Unidas)
  %dd
    %abbr{title: 'Organización Naciones Unidas'} ONU

%h2 Mapas de Google
%dl
  %dt gm. 37.345107,-5.932638(Calesur)
  %dd= strict_textilize "gm. 37.345107,-5.932638(Calesur)"

%h2 Más información
%p
  Para más detalles sobre la sintaxis del editor, en la
  #{link_to 'Wikipedia', 'http://en.wikipedia.org/wiki/Textile_(markup_language)'} o en la
  #{link_to 'página oficial de Textile', 'http://textile.thresholdstate.com/'}
