= table_for @versiones do |table|
  = table.data do
    = table.cell :versioned, heading: 'Título' do |version|
      - version.restore.titulo
    = table.cell :created_at, heading: 'Borrada el'
    = actions_cell table, :borradas_actions_list
