- title "Comparación de #{@pagina}"

%p#introduccion_differ
  Diferencias entre las versiones:
  %del.differ= @referencia.texto_version_modificada
  %ins.differ= @version.texto_version_modificada

= diferencias(@pagina, @referencia.reify)

= actions_list [:historial], @pagina
