- title 'Identificación de usuarios'

= simple_form_for(resource,
  as:    resource_name,
  url:   session_path(resource_name),
  html:  { id: "login"}) do |form|

  = form.input :email
  = form.input :password
  - if devise_mapping.rememberable?
    = form.input :remember_me, as: :boolean,
      hint: "durante #{distance_of_time_in_words(Devise.remember_for)}"
  = buttons { form.submit "Entrar" }
