- css 'form'
- title 'Identificación de usuarios'

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form|
  = form.input :email
  = form.input :password
  - if devise_mapping.rememberable?
    = form.input :remember_me, :as => :boolean
  .actions= form.submit "Entrar"
