%article.caja
  - if caja.imagen?
    %figure
      = caja.thumbnail
      -if !caja.cuerpo.blank?
        %figcaption= caja.cuerpo

  - else
    %header
      %h2= caja.titulo
    = caja.cuerpo

  = caja.admin_actions_list [:edit]
