- if caja.imagen?
  %figure.caja
    = caja.thumbnail
    -if !caja.cuerpo.blank?
      %figcaption= caja.cuerpo

    = admin_actions_list([:edit], caja)
- else
  %article.caja
    %header
      %h2= caja.titulo

    = caja.cuerpo
    = admin_actions_list([:edit], caja)
