- if caja.imagen?
  %figure.caja
    = caja.thumbnail
    -if !caja.cuerpo.blank?
      %figcaption= caja.cuerpo

    - if usuario_signed_in?
      = actions_list([:edit], caja)
- else
  %article.caja
    %header
      %h2= caja.titulo

    = strict_textilize caja.cuerpo

    - if usuario_signed_in?
      = actions_list([:edit], caja)
