= simple_form_for caja do |form|
  = render 'shared/errors', record: caja

  = form.input :titulo
  = form.input :cuerpo
  = form.input :imagen, as: :file
  = form.association :paginas, as: :check_boxes, label: "Páginas en las que aparece",
    collection: Pagina.publicadas.por_orden, label_method: lambda {|pagina| "#{pagina} #{enlace_accion :edit, pagina}".html_safe}

  = buttons { form.button :submit }
