= simple_form_for caja do |form|
  = render 'shared/errors', record: caja

  = form.input :titulo
  = form.input :cuerpo
  = form.association :paginas, as: :check_boxes, label: "Páginas en las que aparece",
    collection: Pagina.publicadas.por_orden

  = buttons { form.button :submit }
