= simple_form_for caja do |form|
  = render 'shared/errors', record: caja

  = form.input :titulo
  = form.input :cuerpo
  = form.input :imagen, as: :file
  = form.association :paginas, as: :check_boxes, label: "Páginas en las que aparece",
    collection: paginas, label_method: :etiqueta_con_enlace_a_editar

  = buttons { form.button :submit }
