= table_for records do |table|
  = table.data do
    = table.cell :titulo, heading: sort_link(search, :titulo)
    = table.cell :principio_cuerpo, heading: sort_link(search, :cuerpo)
    = actions_cell table, :actions_list
