= filter_form_for @search do |form|
  = form.input :titulo_contains, label: 'Título'
  = form.input :cuerpo_contains, label: 'Cuerpo'

%section#listado
  = render "shared/listado", records: @cajas, search: @search

= actions_list [:new], Caja
