!!!
%html{lang: I18n.locale}

  %head
    %title= title
    %meta{charset: "utf-8"}
    = stylesheet_link_tag 'application'
    = csrf_meta_tag

  %body{class: controller_name}
    = render_cell :cabecera, :display
    #navegacion
      = render_cell :navegacion, :display
      = render_cell :buscador, :display

    #content
      = render "general/flash", flash: flash
      = render "general/sidebar"

      %section#main{role: 'main'}
        - if show_title?
          %header
            %h1= title
        = yield

    = render_cell :pie, :display
    = javascript_include_tag "http://www.openlayers.org/api/OpenLayers.js"
    = javascript_include_tag "application"
