!!!
%html{html_attrs(I18n.locale)}

  %head
    %title= h(yield(:title) || "Untitled")
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'rails'
    = csrf_meta_tag
    = yield(:head)

  %body
    %header#cabecera
      = render 'general/cabecera'

    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"

    %aside#sidebar
      = yield(:sidebar)
    %section#main
      - if show_title?
        %header
          %h1= yield(:title)

      = yield

    %footer#pie
      = render 'general/pie'