!!!
%html{html_attrs(I18n.locale)}

  %head
    %title= h(yield(:title) || "Untitled")
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'rails'
    = csrf_meta_tag
    = yield(:head)

  %body
    %header#cabecera= render 'general/cabecera'
    #navegacion
      %nav= render 'general/navegacion'
      = render 'general/buscador'

    #content
      - flash.each do |name, msg|
        .flash{:id => "flash_#{name}"}
          %p= msg
      %aside#sidebar
        = yield(:sidebar)
      %section#main
        = yield

    %footer#pie
      = render 'general/pie'