!!!
%html{lang: I18n.locale}

  %head
    %title= h(title || "Untitled")
    %meta{charset: "utf-8"}
    = stylesheet_link_tag 'application'
    = csrf_meta_tag

  %body{class: controller_name}
    %header#cabecera{role: 'banner'}= render 'general/cabecera'
    #navegacion
      %nav= navegacion_principal(Navegacion.paginas)
      = render 'general/buscador'

    #content
      = render 'shared/flash', flash: flash
      = render "general/sidebar"

      %section#main{role: 'main'}
        - if show_title?
          %header
            %h1= title
        = yield

    %footer#pie{role: 'contentinfo'}= render 'general/pie'
    = javascript_include_tag "http://www.openlayers.org/api/OpenLayers.js"
    = javascript_include_tag "application"
