!!!
%html{:lang => I18n.locale}

  %head
    %title= h(yield(:title) || "Untitled")
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'rails'
    = csrf_meta_tag
    = yield(:head)

  %body
    %header#cabecera{:role => 'banner'}= render 'general/cabecera'
    #navegacion
      %nav= render 'general/navegacion'
      = render 'general/buscador'

    #content
      - flash.each do |name, msg|
        .flash{:id => "flash_#{name}"}
          %p 
            = msg
            - if session[:deshacer]
              = form_tag session[:deshacer][:url], 
                :method => session[:deshacer][:method] do
                = submit_tag 'Deshacer'
              - session.delete(:deshacer)

      - if content_for?(:sidebar)
        %aside#sidebar{:role => 'complementary'}= yield(:sidebar)
      - elsif usuario_signed_in?
        %section#admin= navegacion_admin

      %section#main{:role => 'main'}
        - if show_title?
          %header
            %h1= yield(:title)
        = yield

    %footer#pie{:role => 'contentinfo'}= render 'general/pie'
